*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#f_img{
    height: 250px;
    width: auto;
    padding-left: 20px;
}

.footer{
    width: auto;
    background-color: #24262b;
}
#li{
    width: 90px;
}

.footer_conatainer{
    max-width: 100%;
    margin: auto;
}

ul{
    list-style: none;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


.col{
    width: 25%;
    padding: 0 15px;
    margin-top: 15px;
}
.col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.col ul li:not(:last-child){
    margin-bottom: 10px;
}
.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.col ul li a:hover{
    color: orange;
    padding-left: 8px;
}

.col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.col .social a:hover{
    color: orange;
    background-color: #ffffff;
}

/* responsive */

@media(max-width: 800px){
    .footer{
        width: 124%;
    }
    .col{
        width: 25%;
        margin-bottom: 30px;
    }
}

@media(max-width: 450px){
    .footer{
        width: 127%;
    }
    .col{
        width: 25%;
    }
}